# Vim stuff
*.sw[mnop]

# RStudio stuff
.Rproj.user
.rstudio

# Python stuff
__pycache__

# Raw data, are too big, and don't want to accidentally add
data/seq-runs/*
!data/seq-runs/.gitignore

# Add only our plate maps and intermediate results
data/plate-maps/*
!data/plate-maps/200330*
!data/plate-maps/200401*
!data/plate-maps/200402*
pipeline/*
!pipeline/200330*
!pipeline/200401*
!pipeline/200402*

# Core dumps (I think this is what this is)
core

# Only track R/RMarkdown files in the analyses folder
# Update: now track EVERYTHING in analyses folder EXCEPT html files
#analyses/*/**
#!analyses/*/*.R*
analyses/*/*.html
